<style>
 body {
 font-family: 'Indie Flower', cursive;
 font-style: bold;
 font-size: 12px;
 margin: 0;
}

.navbar {
 overflow: hidden;
 background-color: #4484CE;
}

.navbar a {
 float: left;
 font-size: 16px;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

.subnav {
 float: left;
 overflow: hidden;
}

.subnav .subnavbtn {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
 background-color: #BFD8D2;
}

.subnav-content {
 display: none;
 position: absolute;
 left: 0;
 background-color: #bfd8d2;
 width: 100%;
 z-index: 1;
}

.subnav-content a {
 float: left;
 color: white;
 text-decoration: none;
}

.subnav-content a:hover {
 background-color: #eee;
 color: black;
}

.subnav:hover .subnav-content {
 display: block;
}

.icon-bar {
 width: 100%;
 background-color: #555;
 overflow: visible;
}

.icon-bar a {
 float: right;
 width: 5%;
 text-align: center;
 padding: 10px 5px;
 transition: all 0.3s ease;
 color: white;
 font-size: 25px;
}

.icon-bar a:hover {
 background-color:#BFD8D2;
}

.heading {
 text-align:center;
 color: #465C8B;
 font-size:50px;
}

.flip-card {
 background-color: transparent;
 width: 300px;
 height: 300px;
 perspective: 1000px;
 font-size: 16px;
}

.flip-card-inner {
 position: relative;
 width: 100%;
 height: 100%;
 text-align: center;
 transition: transform 0.6s;
 transform-style: preserve-3d;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
 transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
 position: absolute;
 width: 100%;
 height: 100%;
 backface-visibility: hidden;
}

.flip-card-front {
 background-color: #bbb;
 color: black;
 z-index: 2;
}

.flip-card-back {
 background-color: #328CC1;
 color: white;
 transform: rotateY(180deg);
 z-index: 1;
}

.column {
 float: left;
 width: 25%;
 padding: 0 50px;
}

.row {margin: 0 -5px;}

.row:after {
 content: "";
 display: table;
 clear: both;
}

@media screen and (max-width: 600px) {
 .column {
   width: 100%;
   display: block;
   margin-bottom: 20px;
 }
}

.flip-card {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 padding: 20px;
 text-align: center;
 background-color: #BFD8D2;
}

body {
 background-color: #CAEBF2;
}

.modal {
 display: none;
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgb(0,0,0);
 background-color: rgba(0,0,0,0.4);
}

.modal-content {
 background-color: #fefefe;
 margin: 20% auto;
 padding: 20px;
 border: 1px solid #888;
 width: 70%;
}

.close {
 color: #aaa;
 float: right;
 font-size: 32px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

.slideshow-container {
  max-width: 600px;
  max-height: 600px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
 </style>
